<div class="po-row">
  <div class="po-md-12 po-lg-12">
    
    
    <div class="po-row"> 
      <div class="po-md-12 po-lg-12">
        <po-container class="po-lg-12 po-mt-2">
          <div class="po-md-12 po-lg-12" >
            <h2 style="text-align: center;">Bem vindo - Aplicação Pai</h2>
            <h3 style="text-align: center; color: gray;">🚀 lab-angular-elements-root 🚀</h3>
          </div>
        </po-container>
      </div>
    </div>
    
    <div class="po-row">
      <div class="po-md-12 po-lg-12">       
        <po-container class="po-lg-12 po-mt-2">

          <element-painel-fiscal-home></element-painel-fiscal-home>

          <router-outlet></router-outlet>

        </po-container>
      </div>
    </div>

    
  </div>
</div>